
@{
    ViewData["Title"] = "DiscontinueVehicle";
}

<h1>Discontinue a vehicle</h1>

<div class="row justify-content-center" id="depotListView">
    <div class="col-md-4">
        <label class="control-label"> Select a depot</label>
        <div class="input-group mb-3">
            <select class="form-control" id="depotListDiscontinue">
                <option value="1">Haydock</option>
                <option value="3">Leeds</option>
                <option value="7">Trafford</option>
                <option value="9">Tyne & Wear</option>
            </select>
            <div id="submitButton"><button class="btn btn-outline-secondary" type="button" onclick="showVehiclesByDepotToDiscontinue()">Go</button></div>
            
        </div>
    </div>
</div>
<div id="loadVehiclesToDiscontinue">
</div>

