@if (TempData["notice"] != null)
{
    <p>@TempData["notice"]</p>
}

<button class="btn-primary" onclick="window.location='/Home/AddHireVehicle'">Add another</button>
<br />
<button class="btn-primary" onclick="window.location='/Home/AddHireVehicle'">Main Page</button>