@model VehicleManagement.Models.hireModels.PurchaseOrderNumber
    <div id="purchaseOrderNumber">


        <h1>Your new PO nunmber is...</h1>
        <h4 style="color:orangered; font-weight:bold">@Model.PONumber</h4>
    
    </div>